.comment-form {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 12px;
  max-width: 450px;
}

.comment-form,
.comment-form input {
  background-color: #ddd6d6;
}

.comment-form input {
  width: 100%;
  outline: none;
  max-width: 300px;
}

.profile-form button,
.comment-form button,
.form-add button {
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #2d2dcf;
  text-shadow: 1px 1px 1px black;
  box-shadow: inset 0px 0px 12px black, 0px 0px 8px black;
}

.form-add textarea,
.form-add input {
  width: -webkit-fill-available;
}

.form-add textarea {
  min-height: 130px;
}

.profile-form input,
.form-add textarea,
.form-add input {
  max-width: 440px;
  box-shadow: inset 0px 0px 10px #3d3d45;
}

.profile-form input,
.form-add input {
  height: 32px;
}

.form-add label,
.form-add button,
.profile-form label {
  margin-top: 12px;
  margin-bottom: 12px;
}

.form-add button {
  margin-left: auto;
  display: block;
}

.new-post,
.profile {
  max-width: 450px;
  margin: auto;
}

.profile-form label,
.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form button {
  align-self: flex-end;
  max-width: fit-content;
}

@media (min-width: 300px) {
  .profile-form button,
  .comment-form button,
  .form-add button {
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 1px black;
    box-shadow: inset 0px 0px 8px black, 0px 0px 8px black;
  }

  .new-post,
  .profile {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 600px) {
  .form-add label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form-add input {
    max-width: 300px;
  }
}
